.wrap {
  margin: 15px;
  background: rgba(255, 255, 255, 0.3);
  padding: 5px;
  box-shadow: 0 0 5px gray; }
  .wrap .thiscityname {
    padding-right: 50%;
    color: #fff;
    font-weight: inherit;
    font-style: italic; }
  .wrap .search-city-forecast {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 20%; }
    .wrap .search-city-forecast .cityName {
      background-color: #fff;
      border: 2px solid #30aed8;
      border-radius: 3px;
      height: 25px;
      line-height: 32px; }

/*# sourceMappingURL=forecast.component.css.map */
