<div class="wrap">
<form class="search-city-forecast" [formGroup]="forecastForm" (ngSubmit)="onSubmit()">
  <span class="thiscityname">Forecast for :  {{ forecast[forecast.length-1]?.cityName}}</span>
  <input type="text" class="cityName" formControlName="forecastCity" placeholder="Enter city">
</form>
<div class="barchart">
  <nvd3 [options]="options" [data]="data" ></nvd3>
</div>
</div>
