<div class="main">
  <div class="search-area">
    <form class="search" (ngSubmit)=onSubmit(f) #f="ngForm">
      <input type="text" class="cityName" name="city" ngModel #city="ngModel" placeholder="City">
    </form>
  </div>
  <div class="main-area">
    <h2 class="city">{{weatherClass?.cityName}}</h2>
    <h1 class="temp">{{weatherClass?.temp}}&deg;</h1>
    <img class="wasted"src="http://openweathermap.org/img/w/{{weatherClass?.img}}.png">
  </div>
  <div class="description">
    <span class="pressure">Pressure:  {{weatherClass?.pressure}}</span>
    <span class="humidity">Humidity:  {{weatherClass?.humidity}}</span>
    <span class="windspeed">WindSpeed:  {{weatherClass?.windSpeed}} m/s</span>
    <span class="clouds">Clouds:  {{weatherClass?.clouds}}%</span>
  </div>
</div>
