  .main{
    margin: 15px;
    background: rgba(255, 255, 255, 0.3);
    padding: 25px;
    box-shadow: 0 0 5px gray;
    .search-area{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-right: 20%;
      .cityName{
        background-color: #fff;
        border: 2px solid #30aed8;
        border-radius: 3px;
        height: 25px;
        line-height: 32px;
      }
    }
    .main-area{
      .wasted{
        height:100px;
        width:100px;
      }
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .description{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      font-weight: bolder;
    }
  }
