html{
  width: 100%;
  height: 100%;
  body{
    color:#6163af;
    overflow: auto;
    position: relative;
      &:before{
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      display: block;
      width: 100%;
      height: 100%;
      -webkit-filter: blur(10px);
      -moz-filter: blur(10px);
      -o-filter: blur(10px);
      -ms-filter: blur(10px);
      filter: blur(10px);
      background-image: url('./assets/clouds.jpg');
      background-size:cover;
      }
  }
}
